<!-- <mat-grid-list cols="2">
    <mat-card>

    <mat-grid-tile *ngFor = "let exam of allExams">
            {{exam.examId}} {{exam.examName}}
            <mat-button (click)= "chooseExam()" ></mat-button>
    </mat-grid-tile>



    <mat-grid-tile>

    </mat-grid-tile>

  </mat-grid-list> -->

<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let exam of allExams" (click)="OnMatCardClickEvent(exam)">
    <mat-card>
      <mat-card-title>{{exam.examName}}</mat-card-title>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

