
.colbg {
  padding-left: 10vh;

}

.instructions {
  list-style-type: square;
  padding-top: 10px;
}

.instructions > li {
  font-size: 24px;
  padding-top: 20px;
}

.btnbg {
  background-color: whitesmoke; /* Green */
  border: 1px solid red;
  border-radius: 12px;
  margin: 5%;
  margin-left: 25%;

  width: 50%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}

.btnbg:hover {
  background-color: green;
}

.gen {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-stretch: expanded;
}
