<!-- <mat-toolbar>
    <h1>Exam</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Logout">
        Submit
      </button>
</mat-toolbar> 
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened >
        <h2>Level</h2>
    </mat-drawer>
    <mat-drawer-content>
        <form>
            <ng-container *ngFor="let item of currentExam.levels[0].questions;let i = index">
                <div>
                    {{item.questionStatement}} 
                    <ng-container *ngFor="let opt of item.options;let in = index">
                        <input type="checkbox">{{opt}}<br>
                    </ng-container> 
                </div>
        </ng-container>
        </form>
    </mat-drawer-content>
</mat-drawer-container> -->

<!-- <mat-toolbar>
    <h1>Exam</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Logout">
        Submit
      </button>
</mat-toolbar>

<mat-grid-list cols="3">
    <mat-grid-tile>
        <div>

                <div *ngFor="let item of currentExam.levels[0].questions;let i = index">
                    <div>
                    <p class="questionNo">Question #{{i}}</p>
                    
                    <p>{{item.questionStatement}}</p>
                        
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="optionList">
                            <mat-radio-button class="example-radio-button" *ngFor="let opt of getSplitString(item.options);let in = index"  [value]="opt">
                                 {{opt}}
                            </mat-radio-button>
                            <button (click) = "storeOption()">next</button>
                        </mat-radio-group>
                    </div>
                </div>  
                    
                
            
        </div>
    </mat-grid-tile>
    
</mat-grid-list> -->
<!-- 
<form>
    <div *ngFor="let item of currentExam.levels[0].questions;let i = index"></div>
    </form>
     -->


     <div class="row" *ngIf="currentExam.levels[currentLevel].questions && qnProgress != currentExam.levels[currentLevel].questions.length">
        <div class="col s8 offset-s2">
          <div class="progress">
            <div class="determinate" [style.width.%]="(qnProgress+1)*10"></div>
          </div>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{qnProgress+1}}</span>
              <p>{{currentExam.levels[currentLevel].questions[qnProgress].questionStatement}}</p>
            </div>
            <div class="card-action">
              <ul class="collection answer">
                <ng-container *ngFor="let option of getSplitString(currentExam.levels[currentLevel].questions[qnProgress].options);let i = index">
                  
                  <li *ngIf="option != null" class="collection-item" [class.selected] = "option === optionStyle" (click)="onSelectOption(currentExam.levels[currentLevel].questions[qnProgress].questionId,option)">
                    
                    <div [ngClass]="status">{{option}}</div>
                    
                  </li>
                
                </ng-container>
              </ul>
              <div *ngIf="qnProgress != (currentExam.levels[currentLevel].questions.length)-1">
                <button class="btn btn-primary" (click)="onSubmit()">Next</button>
              </div>
              <div *ngIf="qnProgress == (currentExam.levels[currentLevel].questions.length)-1">
                <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
              </div>
            </div>
          </div>
      
        </div>
      </div>