<div class="mat-card">
  <mat-toolbar class="mat-primary">
    <span>
      <input mat-card-title [(ngModel)]="examPayload.examName" name="examName" placeholder="Ex: Java">
    </span>
  </mat-toolbar>

  <div class="editor-body">
    <div class="sidebar">
      <span><b>Levels</b></span>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let level of examPayload.levels; let levelIndex = index">
          <mat-expansion-panel-header>
            Level {{levelIndex + 1}}
          </mat-expansion-panel-header>
          <ul class="questions-container">
              <li class="li-question" *ngFor="let question of level.questions; let questionIndex = index" >
                {{questionIndex + 1}}
              </li>
            <li>
              <button mat-mini-fab class="li-add-question" (click)="createQuestion(levelIndex)">
                <mat-icon>add</mat-icon>
              </button>
            </li>
          </ul>
        </mat-expansion-panel>
        <button (click)="createLevel()">add Level</button>
      </mat-accordion>
    </div>
    <div class="input">editor</div>
  </div>
</div>
