.mat-primary{
  min-height: 70px;
  border-radius: 10px 10px 0 0;
}

.mat-card-title{
  padding: 8px 2px;
  border: 1px solid black;
  border-radius: 10px;
}

.editor-body{
  display: flex;
}

.editor-body > .sidebar{
  background-color: yellow;
  flex: 25%;
  min-height: 50vh;
}

.editor-body > .input{
  background-color: rosybrown;
  flex: 75%;
  min-height: 50vh;
}

.questions-container{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.questions-container > .li-question{
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}





