<mat-card class="login-card">
  <mat-card-title style="color: purple"><b>User Login</b></mat-card-title>
  <mat-card-content class="login-content">
    <mat-form-field appearance="outline">
      <mat-label>User email</mat-label>
      <input matInput placeholder="Enter your email id.." [(ngModel)]="userLoginPayload.userName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter your password.." [(ngModel)]="userLoginPayload.password">
    </mat-form-field>
    <button mat-raised-button color="primary" style="width: 200px;height: 50px" (click)="validateUser()">Login</button>
  </mat-card-content>
</mat-card>

